<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div style="min-width:260px;min-height:100%;padding:0 0 80px 0;margin:0 auto;background-color:#d4d6d7">
  <div
          style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden">
    A new product recommendation based on your learning history
  </div>
  <table width="100%" cellpadding="0" cellspacing="0" style="background:#d4d6d7">
    <tbody>
    <tr>
      <td>
        <table width="100%" cellpadding="0" cellspacing="0" style="max-width:600px;min-width:300px;margin:0 auto">
          <tbody>
          <tr>
            <td style="background-color:transparent;line-height:18px">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                  <td>
                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tbody>
                      <tr>
                        <td style="background-color:transparent;line-height:18px;padding:10px 10px 10px 10px"><span>
<div style="text-align:center"><strong><span style="font-size:18px"><span
              style="font-family:arial,helvetica,sans-serif">An individually suggested element of your learning experience:</span></span></strong>
<div style="text-align:center"><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif"><span
              style="text-align:center">Can't read&nbsp;or view this email properly? <a href="<%= recapUrl %>"
                                                                                        title="Click here to view this email as intended."
                                                                                        target="_blank"><span
                  style="color:#0000ff">Click here</span></a></span></span></span></div>
</div>
</span></td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" style="max-width:600px;min-width:300px;margin:0 auto">
          <tbody>
          <tr>
            <td style="background:#ffffff">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                  <td>
                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tbody>
                      <tr>
                        <td style="text-align:left;vertical-align:top;font-size:0px">
                          <table cellpadding="0" cellspacing="0"
                                 style="vertical-align:top;display:inline-table;background:transparent;table-layout:fixed;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;max-width:100%;width:41.66666667%;width:-webkit-calc(230400px - 48000%);width:calc(230400px - 48000%);min-width:200px;min-width:-webkit-calc(41.66666667%);min-width:calc(41.66666667%)">
                            <tbody>
                            <tr>
                              <td style="height:25px;background-color:transparent;line-height:18px">
                                <div style="height:25px;display:none">&nbsp;</div>
                              </td>
                            </tr>
                            <tr>
                              <td style="background-color:transparent;line-height:18px;padding:5px 15px 5px 15px">
                                <div style="display:inline-block;width:100%">
                                  <div style="line-height:24px"><strong style="font-size:16px">Created for you on: <%= new Date().toLocaleDateString('en-US', {month: 'long', day: 'numeric', year: 'numeric'}) %></strong></div>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                          <table cellpadding="0" cellspacing="0"
                                 style="vertical-align:top;display:inline-table;background:transparent;table-layout:fixed;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;max-width:100%;width:58.33333333%;width:-webkit-calc(230400px - 48000%);width:calc(230400px - 48000%);min-width:280px;min-width:-webkit-calc(58.33333333%);min-width:calc(58.33333333%)">
                            <tbody>
                            <tr>
                              <td style="background-color:transparent;line-height:18px;padding:0px 10px 10px 10px">
                                <div>
                                  <div style="display:inline-block;width:100%;word-wrap:break-word">
                                    <table cellpadding="0" cellspacing="0"
                                           style="vertical-align:top;display:inline-table;background:transparent;table-layout:fixed;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;max-width:100%;width:66.66666667%;width:-webkit-calc(230400px - 48000%);width:calc(230400px - 48000%);min-width:320px;min-width:-webkit-calc(66.66666667%);min-width:calc(66.66666667%)">
                                      <tbody>
                                      <tr>
                                        <td
                                                style="background-color:transparent;line-height:18px;padding:10px 15px 10px 10px">
                                          <div style="display:inline-block;width:100%">
                                            <div style="text-align:right"><br>
                                              <a href="https://www.chinesepod.com/profile"
                                                 style="font-size:14px;color:rgb(0,0,255);text-decoration:none"
                                                 title="My Profile" target="_blank">My
                                                Profile</a>&nbsp;I&nbsp;<a href="https://www.chinesepod.com/vocabulary"
                                                                           style="font-family:Arial,Helvetica,sans-serif;text-align:right;font-size:14px;color:rgb(0,0,255);text-decoration-line:none"
                                                                           title="Your Vocabulary" target="_blank">Your
                                                Vocabulary</a>&nbsp;<br>
                                              &nbsp;<a href="https://www.chinesepod.com/home"
                                                       style="font-family:Arial,Helvetica,sans-serif;text-align:right;font-size:14px;color:rgb(0,0,255);text-decoration-line:none"
                                                       title="Analyst's Choice" target="_blank">Your
                                                Dashboard</a></div>
                                            <div style="text-align:right">&nbsp;</div>
                                          </div>
                                        </td>
                                      </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
        <table width="100%" cellpadding="0" cellspacing="0" style="max-width:600px;min-width:300px;margin:0 auto">
          <tbody>
          <tr>
            <td style="background:#ffffff">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                  <td>
                    <table width="100%" cellpadding="0" cellspacing="0">
                      <tbody>
                      <tr>
                        <td style="text-align:left;vertical-align:top;font-size:0px">
                          <table cellpadding="0" cellspacing="0"
                                 style="vertical-align:top;display:inline-table;background:transparent;table-layout:fixed;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000;max-width:100%;width:100%;width:-webkit-calc(230400px - 48000%);width:calc(230400px - 48000%);min-width:480px;min-width:-webkit-calc(100%);min-width:calc(100%)">
                            <tbody>
                            <tr>
                              <td
                                      style="background-color:transparent;line-height:0;padding:0px 0px 0px 0px;text-align:center">
                                <a href="<%= recapUrl %>" target="_blank">
                                  <img
                                          src="https://ci6.googleusercontent.com/proxy/YJAkJrptuie-N_DK5tsmBG2fWSPJ4bMbGhIpljQSeqm-055a89bhWKOzvFuoEjj59B8065Tzc1taaxwq6GsohlvKj7G665Ta_Tm04u5CtjLW2D1t5A9NGFLm2owmmyZbHocPky-9Ca1QBdGO4jZmfZaHUDRw6SU=s0-d-e1-ft#https://chinesepodrecap.s3.eu-central-1.amazonaws.com/mkt-assets/recap-promo-carly-88-characters.jpg"
                                          height="531" width="983" style="width:100%;height:auto;max-width:601px"></a>
                              </td>
                            </tr>
                            <tr>
                              <td style="background-color:transparent;line-height:18px;padding:10px 15px 5px 15px">
                                <div style="display:inline-block;width:100%">
                                  <% if (firstName) { %>
                                    <div><span style="font-size:14px">Dear <%= firstName %></span>,</div>
                                  <% } %>
                                  <div><br></div>
                                  <div><span style="font-size:14px">Based on your account activity, we identified the recap lesson below that you may find helpful! </span>
                                  </div>
                                  <div><br></div>
                                  <ul>
                                    <li><span style="font-size:14px">invest only 90 seconds to review what you have learned in Episode 1 of my series "88 Characters"</span>
                                    </li>
                                    <li style="line-height:21px"><span style="font-size:14px">You can consume your learning experience audio only or alongside our informative illustrations</span>
                                    </li>
                                  </ul>
                                  <div><br></div>
                                  <div><span style="font-size:14px">We love to get your feedback, and if there is anything we can do to help you reach your goal of becoming a native speaker, don't hesitate to contact us! </span>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td style="background-color:transparent;line-height:18px;padding:20px 10px 20px 10px">
                                <div style="text-align:center;font-family:Arial,Helvetica,sans-serif">
                                  <div>
                                  </div>
                                  <a href="<%= recapUrl %>" title=""
                                     style="text-decoration:none;vertical-align:middle;word-wrap:break-word;color:#fff;text-align:center;background-color:#dd0f0f;padding:10px 20px 10px 20px;border-radius:10px;display:inline-block;max-width:100%;width:auto"
                                     target="_blank"><span
                                            style="text-decoration:none"><span><strong
                                                style="font-size:18px">Try it out - 90 seconds is all you need!</strong></span></span></a>
                                  <div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
    <tr style="font-family: Arial, Helvetica, sans-serif; word-break: normal;
">
      <td align="center" width="100%"
          style="color: #000000; font-size: 12px; line-height: 18px; padding-bottom: 30px; padding-top: 30px;">
        <a
                href="https://www.chinesepod.com/unsubscribe"
                style="color: #000000; text-decoration: underline;">Unsubscribe</a> &nbsp; | &nbsp;
        <a
                href="https://www.chinesepod.com/privacy"
                style="color: #000000; text-decoration: underline;">Privacy Policy</a> &nbsp; |
        &nbsp; <a
                href="https://www.chinesepod.com/contact"
                style="color: #000000; text-decoration: underline;">Contact Support</a>
        <div style="font-family: Arial, Helvetica, sans-serif; word-break: normal;
" class="address-link">
          246 West Broadway New York NY 10013
        </div>
        <div style="font-family: Arial, Helvetica, sans-serif; word-break: normal;
">
          &copy; <%= new Date().getFullYear() %> ChinesePod LLC
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
