div Dear #{firstName},
br
div My name is #{representativeName}, I am the #{representativeTitle} at ChinesePod.
br
div I ran some statistics on our current users, I have seen that you have used ChinesePod in #{trailingMonthT2 ? trailingMonthT2 + ' and ' : ''}#{trailingMonthT1}, but have not logged in for the entire #{overviewMonth}! So I want to reach out and help you find out how the ChinesePod system can work for you - as it already helped tens of thousands of students learn and master Mandarin Chinese.
br
div Trust me, learning and mastering Mandarin Chinese is not as hard as you think, the beginnings are a little hard - but please let me help you find a way. With our app, the recap system and our various products to integrate the learning experience into the flow of your day, you can do it.
br
div Hope to hear from you, and stay safe!
br
div !{representativeSignature}
