div Hello #{firstName},
br
div.
  My name is Francis Wang, and I am spearheading new spin-off ChinesePod learning apps for Android that specifically
  tackle individual courses.
br
div.
  I saw that you recently studied our course “66 Characters”, and I would love for you to check out the app we recently
  released to practice writing the “66 Characters” you learned not too long ago.
br
div.
  We would really like to get your input on both the app and this form of short repeating content, and as a
  token of our gratitude we would like to credit you with 6 months of free premium access.
  Here is the invitation link for Android:
br
div You can find “66 Characters” for Android at:
div
  a(href=androidInviteLink, title='66 Character Invite') #{androidInviteLink}
br
div.
  For Apple users: We are already working on the IOS version so if you use an iPhone, please you can click here and
  I will notify you when the IOS beta is available:
br
div
  a(href=iosInviteLink, title='66 Character Invite') #{iosInviteLink}
br
div If there is anything you are missing in the app or what we could improve, please do not hesitate to reach out to me!
br
div Best,
br
div Francis
br
div -----
br
div Francis Wang, Product Manager
br
div ChinesePod LLC
div 246 West Broadway
div New York NY 10013
div
  a(href="https://www.chinesepod.com", title='ChinesePod') www.chinesepod.com
