div Dear #{name},
br
div.
  I understand you are the person responsible for #{title} at the #{nameOfEstablishment}. I see that you have a specific mandarin course at your #{typeOfEstablishment} and would welcome the opportunity to discuss how we can support your current curriculum with our product. I have also approached #{referenceName} their assistance on the same subject.
br
div ChinesePod (www.chinespod.com) is an immersive Chinese learning program using the latest technology to help learners engaged and motivated.  Our curriculum allows students to schedule their learning paths quickly and flexibly through our conversation based library of content. With more than 4,000 video and audio lessons, updated weekly, to choose from, we challenge your students to find a situation or topic we have not already covered. Our lessons are available online and offline and can be accessed anywhere, anytime, and on any device.
br
div We have education clients in more than 20 countries in Universities, high schools, business schools and language schools who have been regular users of our products for the past decade.
br
div If it makes sense, It will only take 10 minutes to chat about how we can help; if not, please let me know who would be the best person to speak to?
br
div Kind regards,
br
div Ali
br
div _______________________
div Ali Gursoy
div Partnership Director
br
div
  a(href='https://www.chinesepod.com', title='ChinesePod') www.chinesepod.com
